<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python

</div>

<h2 align="center">Fernando Moreno Bautista</h2>
<h2 align="center"> 1013656283</h2>
<h2 align="center">Metodos NÃºmericos</h2>

# 01 Data Types and Data Structures


# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
# NUEVO EJEMPLO
myStr1 = 'Soy'
myStr2 = 'una'
myStr3 = 'prueba'
print(myStr1 + ' ' + myStr2 + ' ' + myStr3)

Soy una prueba

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
# NUEVO EJEMPLO
myInt = 98765432
print(myInt)
print('TYPE:', type(myInt))

98765432
TYPE: <class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
# NUEVO EJEMPLO
my_str = '6757'
print('TYPE:', type(my_str))
my_int = int(my_str)
print('TYPE:', type(my_int))

TYPE: <class 'str'>
TYPE: <class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
# NUEVO EJEMPLO
my_str = '13443'
my_flo = float(my_str)
print(my_flo)
print(type(my_flo))

13443.0
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
# NUEVO EJEMPLO
mybool = True
print(mybool)
print(type(mybool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
# NUEVO EJEMPLO
print("Addition ", 5443+44+43)
print("Subtraction ", 243-434-545)
print("Multiplication ", 543*344*43)
print("Division ", 3434/4/2)
print('exponent', 4**8)

Addition  5530
Subtraction  -736
Multiplication  8032056
Division  429.25
exponent 65536

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
# NUEVO EJEMPLO
print(3232/50)
print(3232.0/50)

64.64
64.64

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
# NUEVO EJEMPLO
List = ['Vamos', 'Por ese 5', 5,5,5,5]
print(List)

['Vamos', 'Por ese 5', 5, 5, 5, 5]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n â 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
# NUEVO EJEMPLO
List = ['hola', 'tilin', 3,4]
print( len(List))
print( List[0])
print( List[len(List)-1])

4
hola
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
# NUEVO EJEMPLO
List =  ['hola', 'tilin', 'jaja']
List[0] = 'como fue'
print(List)

['como fue', 'tilin', 'jaja']

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
# NUEVO EJEMPLO
List = ['Ten', 'Un', 'Feliz', 'Dia', 'amigo']
print(List[2:4])

['Feliz', 'Dia']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
# NUEVO EJEMPLO
print(List[3:])

['Dia', 'amigo']

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
# NUEVO EJEMPLO
print(List[:2])

['Ten', 'Un']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
# NUEVO EJEMPLO
List = ['Ten', 'Un', 'Feliz', 'Dia', 'amigo']
List.append('5')
print(List)

['Ten', 'Un', 'Feliz', 'Dia', 'amigo', '5']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
# NUEVO EJEMPLO
List = ['Ten', 'Un', 'Feliz', 'Dia', 'amigo']
List.remove('Ten')
print(List)

['Un', 'Feliz', 'Dia', 'amigo']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
# NUEVO EJEMPLO
Tuple = ('Ten', 'Un', 'Feliz', 'Dia', 'amigo')
print(Tuple)

('Ten', 'Un', 'Feliz', 'Dia', 'amigo')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
# NUEVO EJEMPLO
myTuple = ('Ten', 'Un', 'Feliz', 'Dia', 'amigo')
print( myTuple[:2] )

('Ten', 'Un')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'IBM', 'AAPL', 'F', 'FB'}

In [ ]:
# NUEVO EJEMPLO
frutas = ['pera', 'banano', 'granadilla', 'banano', 'uva', 'pera']
setfrutas = set(frutas)
print(setfrutas)

{'granadilla', 'pera', 'banano', 'uva'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
# NUEVO EJEMPLO
paises = {'COL':'Colombia', 'JPN':'Japon', 'CH':'Chile'}

In [ ]:
# NUEVO EJEMPLO
print( paises['COL'] )

Colombia

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
# NUEVO EJEMPLO
paises = {'COL':'Colombia', 'JPN':'Japon', 'CH':'Chile'}
print( paises['JPN'] )

Japon

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
# NUEVO EJEMPLO
print( paises.keys() )

dict_keys(['COL', 'JPN', 'CH'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
# NUEVO EJEMPLO
myStr = 'Hola amigo :D'
print(myStr[:5])

Hola

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
# NUEVO EJEMPLO
print('cuenta las letras a'.count('a'))
print('donde esta la h'.find('h'))
print('jajajaja'.replace('a','i'))

4
14
jijijiji

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
# NUEVO EJEMPLO
fecha = 'sabado 8 30'
splited_fecha = fecha.split(' ')
print('-dia:', splited_fecha[0],'-Minutos:', splited_fecha[1],'-Segundos:', splited_fecha[2])

-dia: sabado -Minutos: 8 -Segundos: 30

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
# NUEVO EJEMPLO
phrase = 'Metiendo frase ({})'.format('Hola soy una frase')
print(phrase)

Metiendo frase (Hola soy una frase)

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
# NUEVO EJEMPLO
print('En el banco tengo %f'%433443.44)
print('%s soy  %s'%('Hola','frase'))

En el banco tengo 433443.440000
Hola soy  frase

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
# NUEVO EJEMPLO
print(46 == 64)
print(56 == 56)
print(10545 != 10)
print(4545 >= 4545454)
print(754554 >= 4576776)

False
True
True
False
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2 )
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
# NUEVO EJEMPLO
print (54 < 76 and 35 > 25)
print (43 < 33 and 34 < 43)
print (24 > 54 or 6767 > 5667)
print (2 < 45 and 3 > 2)

True
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
# NUEVO EJEMPLO
print((2 > 7 or 9 < 3) and (26!=66 and 7==88) and not ( 9 <= 2 or 2 < 6 and (6==6 and 77>66)))
print(2 > 7 or 5 <= 33 and (41!=86 and 7>=99) and not ( 7 == 77 or 87 < 67 and (65!=56 and 4==3)))

False
False

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
# NUEVO EJEMPLO
i = 454554
if i != 8998:
    print('454554!=8998 is True')

454554!=8998 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
# EJEMPLO PROPIO
p = 4554 < 4554
q = 45 < 35
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
# NUEVO EJEMPLO
a = 20000
while a <= 80000:
    print(a)
    a += 20000

20000
40000
60000
80000

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
# NUEVO EJEMPLO
for a in [34,34,5545,45455,6776767]:
    print(a)

34
34
5545
45455
6776767

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
# NUEVO EJEMPLO
phrase = 'asta es una frasa can a'
selected = ['a']
newList = []
for a in phrase:
    if (a in selected):
        newList.append(a)
print(newList)

['a', 'a', 'a', 'a', 'a', 'a', 'a']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
# NUEVO EJEMPLO
let = ['a', 'b', 'c', 'd', 'e' , 'e']
for l in let:
    print(l)
    if (l=='d'):
        break

a
b
c
d

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
# NUEVO EJEMPLO
let = ['a', 'd', 'c', 'd', 'e' , 'd']
for l in let:
    if l == 'd':
        continue
    print(l)

a
c
e

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# NUEVO EJEMPLO
cubes = []
for i in [60,70,80,90]:
    cubes.append(i**3)
print(cubes)

[216000, 343000, 512000, 729000]

Using list comprehension:

In [ ]:
qList = [1,2,3,4,5]
squares = [x**2 for x in qList]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# NUEVO EJEMPLO
List = [56,87,37,89,23]
cubes = [x**3 for x in List]
print(cubes)

[175616, 658503, 50653, 704969, 12167]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
# NUEVO EJEMPLO
listl = [56561652,656563,5678874,50990,788778,3434,56776,67,4,5,4,5,4]
selected = [5,56561652]
List = [x for x in listl if x in selected]
print(List)

[56561652, 5, 5]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print( [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y] )
print( [str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y] )

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
# NUEVO EJEMPLO
print( [(x, y) for x in [56,65,89,76] for y in [79,80,70] if x != y] )
print( [str(x)+' vs '+str(y) for x in ['Homero','Bart','Maggie'] for y in ['Lisa','Marge'] if x!=y] )

[(56, 79), (56, 80), (56, 70), (65, 79), (65, 80), (65, 70), (89, 79), (89, 80), (89, 70), (76, 79), (76, 80), (76, 70)]
['Homero vs Lisa', 'Homero vs Marge', 'Bart vs Lisa', 'Bart vs Marge', 'Maggie vs Lisa', 'Maggie vs Marge']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
# NUEVO EJEMPLO
def exp(x, y):
    return x**y
print(exp(3,652))
print(exp(652,3))

121076003492901667573267968125980016188898839067718471997699955241683451306283571774920131396844356544079662099235043147847722595314846965876005300920589709105128845091602123324245611834757869947673772714174871140798776319582956127020842821566458384804725340205083949783522264140364949242312918568818649459744241
277167808

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
# NUEVO EJEMPLO
def hola(): print('hola compaÃ±ero')
hola()

hola compaÃ±ero

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
# NUEVO EJEMPLO
print( (range(6767)) )
print( (range(10,5000000)) )
print( (range(20,700,2)))

range(0, 6767)
range(10, 5000000)
range(20, 700, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
# NUEVO EJEMPLO
listl = ['a','b','c','d','e','f','g']

print('Longitud de la lista es :', len(listl))
print('Lista:', listl)

Longitud de la lista es : 7
Lista: ['a', 'b', 'c', 'd', 'e', 'f', 'g']

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:

for tickers in map(len,['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']):
    print( tickers )

4
4
3
2
1
1
1
2

In [ ]:
# NUEVO EJEMPLO
for ej  in map(len,['a','bb','ccc','dddd','eeeee','dddddd']):
    print( ej )

1
2
3
4
5
6

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:

for sqrt  in map(lambda x: x**2,[0,1,2,3,4,5,6,7,8,9]):
    print( sqrt )

0
1
4
9
16
25
36
49
64
81

In [ ]:
# NUEVO EJEMPLO
for cube  in map(lambda x: x**3,[0,1,2,3,4,5]):
    print( cube )

0
1
8
27
64
125

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
for sum  in map(lambda x, y: x+y,[1,2,3,4,5],[5,4,3,2,1]):
    print( sum )

6
6
6
6
6

In [ ]:
# NUEVO EJEMPLO
for ej2  in map(lambda x, y: x+'U'+y,['a', 'b'],['c','d']):
    print( ej2 )

aUc
bUd

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
# NUEVO EJEMPLO
sorted( [5,6,5,656,65,8,79,7,34,2,2,3,45,6,7,7,8] )

[2, 2, 3, 5, 5, 6, 6, 7, 7, 7, 8, 8, 34, 45, 65, 79, 656]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
# NUEVO EJEMPLO
prices = [ ('pollo', 10000), ('arroz', 4000), ('leche', 3600), ('papa', 800) ]
sorted( prices, key=lambda x: x[1] )

[('papa', 800), ('leche', 3600), ('arroz', 4000), ('pollo', 10000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
# NUEVO EJEMPLO
prices = [ ('pollo', 10000), ('arroz', 4000), ('leche', 3600), ('papa', 800), ('maiz', 3000) ]
sorted( prices, key=lambda x: x[1],reverse = True,  )

[('pollo', 10000),
 ('arroz', 4000),
 ('leche', 3600),
 ('maiz', 3000),
 ('papa', 800)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
# NUEVO EJEMPLO
prices = [ ('pollo', 10000), ('arroz', 4000), ('leche', 3600), ('papa', 800), ('maiz', 3000) ]
prices.sort(key=lambda x: x[1] )
print(prices)

[('papa', 800), ('maiz', 3000), ('leche', 3600), ('arroz', 4000), ('pollo', 10000)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
# NUEVO EJEMPLO
class Perro:
    def __init__(self, nombre, raza):
        self.nombre = nombre
        self.raza = raza
    def getNombre(self):
        return self.nombre
    def getRaza(self):
        return self.raza

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
# NUEVO EJEMPLO
perro1 = Perro('salchi', 'dalmata')
perro2 = Perro('motas', 'pincher')

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
# NUEVO EJEMPLO
print( perro1.getNombre(), perro1.getRaza() )
print( perro2.getNombre(), perro2.getRaza() )

salchi dalmata
motas pincher

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
# NUEVO EJEMPLO
perro1.edad = 4
perro1.edad

4

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
# NUEVO EJEMPLO
dir(perro1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'edad',
 'getNombre',
 'getRaza',
 'nombre',
 'raza']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
# NUEVO EJEMPLO
class PerroAdopcion(Perro):
    def __init__(self):
        self.nombre = 'NombreEnAdopcion'
        self.raza = 'RazaEnAdopcion'

In [ ]:
# NUEVO EJEMPLO
perro3 = PerroAdopcion()
print(perro3.getNombre())
print(perro3.getRaza())

NombreEnAdopcion
RazaEnAdopcion

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
# NUEVO EJEMPLO
List = [232.0, 443.0, 543.5, 787.0]
myNumPyList = np.array( List )
print( myNumPyList, type(myNumPyList) )

[232.  443.  543.5 787. ] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
# NUEVO EJEMPLO
newArr = np.array([ [9, 8], [2, 8] ])
print( newArr, type( newArr ) )

[[9 8]
 [2 8]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
# NUEVO EJEMPLO
print( newArr.shape )

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
# NUEVO EJEMPLO
print( newArr[0] )
print( newArr[1] )

[9 8]
[2 8]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
# NUEVO EJEMPLO
print('Columna uno: ', newArr[:,0])
print('Columna dos: ', newArr[:,1])

Columna uno:  [9 2]
Columna dos:  [8 8]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
# # NUEVO EJEMPLO
print( np.log( List ) )

[5.44673737 6.09356977 6.29802971 6.66822825]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
# NUEVO EJEMPLO
print( np.mean(List) )
print( np.std(List) )
print( np.sum(List) )
print( np.max(List) )

501.375
199.5787360291672
2005.5
787.0

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
series = pd.Series( List )
print(series)

0    232.0
1    443.0
2    543.5
3    787.0
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
series = pd.Series( List, index=['a','b','c','d'] )
print(series)

a    232.0
b    443.0
c    543.5
d    787.0
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
series.index = [4,3,2,1]
series

4    232.0
3    443.0
2    543.5
1    787.0
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
# NUEVO EJEMPLO
print(series[3:])
print(series[:-1])

1    787.0
dtype: float64
4    232.0
3    443.0
2    543.5
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
print(series[1])
series[2] = 767667
print(series)

787.0
4       232.0
3       443.0
2    767667.0
1       787.0
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [ ]:
# NUEVO EJEMPLO
series = pd.Series( List, name='Promedios de vida' )
print(series)
print(series.name)

0    232.0
1    443.0
2    543.5
3    787.0
Name: Promedios de vida, dtype: float64
Promedios de vida

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [ ]:
# NUEVO EJEMPLO
print(series.describe())

count      4.000000
mean     501.375000
std      230.453674
min      232.000000
25%      390.250000
50%      493.250000
75%      604.375000
max      787.000000
Name: Promedios de vida, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
# NUEVO EJEMPLO
timeIndex = pd.date_range( '2020-06-16', periods=len(series), freq='D' )
print(timeIndex)
series.index = timeIndex
print(series)

DatetimeIndex(['2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19'], dtype='datetime64[ns]', freq='D')
2020-06-16    232.0
2020-06-17    443.0
2020-06-18    543.5
2020-06-19    787.0
Freq: D, Name: Promedios de vida, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [ ]:
# NUEVO EJEMPLO
series.index = [3,2,1,0]
print(series)
print(series[0])

3    232.0
2    443.0
1    543.5
0    787.0
Name: Promedios de vida, dtype: float64
787.0

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
# NUEVO EJEMPLO
print( series.iloc[3] )

787.0

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
# NUEVO EJEMPLO
series.index = timeIndex
print( series['2020-06-18 '] )

543.5

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
# NUEVO EJEMPLO
print( series['2020-06-16': '2020-06-19'] )

2020-06-16    232.0
2020-06-17    443.0
2020-06-18    543.5
2020-06-19    787.0
Freq: D, Name: Promedios de vida, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [ ]:
# NUEVO EJEMPLO
print( series[series < np.mean(series)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 3.44*np.std(s))])

2020-06-16    232.0
2020-06-17    443.0
Freq: D, Name: Promedios de vida, dtype: float64
[2017-01-01    False
2017-01-02     True
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data

Get the data online (scraping) from Yahoo Finance with yfinance

In [6]:


import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.84, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.310665, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.896729, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.5, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.76833, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.895, 'navPrice': None, 'averageDailyVolume10Day': 68793633, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 68793633, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.35552, 'regularMarketVolume': 65076405, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2394234028032, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.515, 'ask': 144.97, 'askSize': 1400, 'volume': 65076405, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.86, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1800, 'dayHigh': 144.895, 'regularMarketPrice': 144.84, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655168  24.291444  23.514542  ...  270597600        0.0             0
2016-01-05  24.379041  24.402094  23.609056  ...  223164000        0.0             0
2016-01-06  23.182565  23.599834  23.023498  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831633  40.848393  40.520342  ...  103999600        0.0             0

[503 rows x 7 columns]

In [7]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)

In [4]:
import pandas as pd
new_data = pd.read_csv('https://raw.githubusercontent.com/femorenoba/MetNumUN2021II/main/Lab1/yahoo_apple.csv')
new_data

           Date       Open       High        Low      Close  Adj Close   Volume
0    2020-10-19  10.140000  10.205000   9.920000   9.930000   9.910515   972500
1    2020-10-20  10.070000  10.395000  10.005000  10.230000  10.209925  1479400
2    2020-10-21  10.230000  10.420000  10.090000  10.400000  10.379592  1663900
3    2020-10-22  10.430000  10.810000  10.400000  10.800000  10.778808  1191100
4    2020-10-23  10.850000  10.995000  10.815000  10.880000  10.858650  1522800
..          ...        ...        ...        ...        ...        ...      ...
246  2021-10-11  16.209999  16.455000  16.150000  16.320000  16.320000  1736100
247  2021-10-12  16.240000  16.315001  16.030001  16.059999  16.059999  1107800
248  2021-10-13  16.030001  16.090000  15.620000  15.790000  15.790000  1602400
249  2021-10-14  16.010000  16.084999  15.820000  15.870000  15.870000  1765100
250  2021-10-15  16.170000  16.350000  15.945000  16.090000  16.090000  1768200

[251 rows x 7 columns]

In [8]:

# NUEVO EJEMPLO
new_msft = yf.Ticker('NEW')
print(new_msft.info)

new_data = new_msft.history(start="2020-12-12",  end="2021-10-10")
new_data

{'zip': '100080', 'sector': 'Consumer Defensive', 'fullTimeEmployees': 9650, 'longBusinessSummary': "Puxin Limited, together with its subsidiaries, provides K-12 and study-abroad tutoring services in the People's Republic of China. Its K-12 tutoring services offer result-oriented educational services in various forms, such as classroom-based after-school tutoring, full-time tutoring for preparation of university entrance exams, and art college admission exams, as well as online courses in a large-class setting to help students enhance their academic results through group class and personalized tutoring courses; full-time tutoring services to high school students preparing for university entrance exams and art college admission exams; after-school tutoring services in group class settings and through personalized sessions; personalized K-12 tutoring courses to adapt to each student's learning pace, pattern, and approach; and extracurricular courses, such as painting, calligraphy, and science. The company's study-abroad tutoring services helps students to prepare for admission tests and applications for high schools, universities, and graduate programs primarily in English-speaking countries through study-abroad test preparation courses and study-abroad consulting services. It also provides web-based platforms and mobile apps for K-12 tutoring services; and cloud-based products and services for K-12 tutoring and study-abroad tutoring services. As of December 31, 2020, it operated 407 learning centers, which include 328 K-12 and 79 study-abroad learning centers. The company offers its products under the Puxin, Puxin-Lingxian, Puxin-YESSAT, Puxin-Fubusi, and ZMN Education brands, as well as operates franchised schools under the Global Education brand. Puxin Limited was founded in 2014 and is headquartered in Beijing, the People's Republic of China.", 'city': 'Beijing', 'phone': '86 10 8260 5578', 'country': 'China', 'companyOfficers': [], 'website': 'http://www.pxjy.com', 'maxAge': 1, 'address1': 'Dingjun Building', 'industry': 'Education & Training Services', 'address2': 'Building 4, 5th Floor 75 Suzhou Street Haidian District', 'ebitdaMargins': -0.01919, 'profitMargins': 0.017280001, 'grossMargins': 0.45645002, 'operatingCashflow': None, 'revenueGrowth': -0.086, 'operatingMargins': -0.05969, 'ebitda': -54489248, 'targetLowPrice': 10.21, 'recommendationKey': 'strong_buy', 'grossProfits': 1345319000, 'freeCashflow': None, 'targetMedianPrice': 10.21, 'currentPrice': 0.53, 'earningsGrowth': None, 'currentRatio': 0.387, 'returnOnAssets': -0.02238, 'numberOfAnalystOpinions': 1, 'targetMeanPrice': 10.21, 'debtToEquity': 559.826, 'returnOnEquity': 0.13101, 'targetHighPrice': 10.21, 'totalCash': 279088000, 'totalDebt': 2593294080, 'totalRevenue': 2839326976, 'totalCashPerShare': 3.191, 'financialCurrency': 'CNY', 'revenuePerShare': 32.587, 'quickRatio': 0.099, 'recommendationMean': 1, 'exchange': 'NYQ', 'shortName': 'Puxin Limited', 'longName': 'Puxin Limited', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'NEW', 'messageBoardId': 'finmb_560290242', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 0.829, 'beta3Year': None, 'enterpriseToEbitda': -43.213, '52WeekChange': -0.93720376, 'morningStarRiskRating': None, 'forwardEps': 0.95, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 87463400, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 5.364, 'sharesShort': 1743105, 'sharesPercentSharesOut': 0.0199, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.100710005, 'netIncomeToCommon': 49056000, 'trailingEps': 0.03, 'lastDividendValue': None, 'SandP52WeekChange': 0.3047781, 'priceToBook': 0.09880686, 'heldPercentInsiders': 0.0029300002, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1617148800, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 42154731, 'beta': 1.583583, 'enterpriseValue': 2354625536, 'priceHint': 4, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': None, 'priceToSalesTrailing12Months': 0.016326264, 'dateShortInterest': 1632960000, 'pegRatio': None, 'ytdReturn': None, 'forwardPE': 0.5578947, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 1466750, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 0.53, 'regularMarketOpen': 0.5116, 'twoHundredDayAverage': 1.6686594, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 0.53, 'navPrice': None, 'averageDailyVolume10Day': 7274800, 'regularMarketPreviousClose': 0.53, 'fiftyDayAverage': 0.5627647, 'trailingAnnualDividendRate': None, 'open': 0.5116, 'toCurrency': None, 'averageVolume10days': 7274800, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 0.51, 'currency': 'USD', 'trailingPE': 17.666666, 'regularMarketVolume': 1753234, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 46355600, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 2819625, 'dayLow': 0.51, 'ask': 0.5118, 'askSize': 2200, 'volume': 1753234, 'fiftyTwoWeekHigh': 9.17, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 0.44, 'bid': 0.5105, 'tradeable': False, 'dividendYield': None, 'bidSize': 2900, 'dayHigh': 0.53, 'regularMarketPrice': 0.53, 'logo_url': 'https://logo.clearbit.com/pxjy.com'}

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-14  6.570  6.670  5.900  6.090  579200          0             0
2020-12-15  6.300  6.800  6.200  6.760  326300          0             0
2020-12-16  6.850  6.880  6.500  6.780  313200          0             0
2020-12-17  6.800  6.800  6.500  6.790  265600          0             0
2020-12-18  6.780  6.860  6.620  6.730   96300          0             0
...           ...    ...    ...    ...     ...        ...           ...
2021-10-04  0.565  0.565  0.503  0.520  976700          0             0
2021-10-05  0.517  0.540  0.502  0.510  734400          0             0
2021-10-06  0.500  0.555  0.500  0.551  781000          0             0
2021-10-07  0.550  0.568  0.535  0.563  665100          0             0
2021-10-08  0.570  0.591  0.533  0.560  680000          0             0

[207 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [9]:
aapl = aapl_table['Close']['2017']

In [10]:
# EJEMPLO NUEVO
new_apple = new_data['Close']['2021']

In [11]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787128
2017-01-09    28.041647
                ...
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965729
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [12]:
# EJEMPLO NUEVO
print(new_apple)

Date
2021-01-04    6.120
2021-01-05    6.160
2021-01-06    6.100
2021-01-07    6.110
2021-01-08    6.360
              ...
2021-10-04    0.520
2021-10-05    0.510
2021-10-06    0.551
2021-10-07    0.563
2021-10-08    0.560
Name: Close, Length: 194, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [13]:
print(aapl['2017-3'])

Date
2017-03-01    33.086273
2017-03-02    32.889843
2017-03-03    33.083927
2017-03-06    32.979771
2017-03-07    33.022381
2017-03-08    32.899315
2017-03-09    32.823559
2017-03-10    32.932442
2017-03-13    32.946636
2017-03-14    32.896938
2017-03-15    33.244865
2017-03-16    33.299297
2017-03-17    33.133629
2017-03-20    33.481544
2017-03-21    33.098118
2017-03-22    33.472088
2017-03-23    33.353737
2017-03-24    33.287472
2017-03-27    33.344273
2017-03-28    34.035393
2017-03-29    34.111130
2017-03-30    34.066166
2017-03-31    34.002258
Name: Close, dtype: float64

In [15]:
# NUEVO EJEMPLO
print(new_apple['2021-09'])

Date
2021-09-01    0.707
2021-09-02    0.690
2021-09-03    0.661
2021-09-07    0.680
2021-09-08    0.639
2021-09-09    0.623
2021-09-10    0.620
2021-09-13    0.630
2021-09-14    0.577
2021-09-15    0.540
2021-09-16    0.535
2021-09-17    0.507
2021-09-20    0.458
2021-09-21    0.451
2021-09-22    0.480
2021-09-23    0.490
2021-09-24    0.480
2021-09-27    0.530
2021-09-28    0.554
2021-09-29    0.532
2021-09-30    0.580
Name: Close, dtype: float64

In [16]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341730
2017-02-02    30.289881
2017-02-03    30.419500
2017-02-06    30.704645
2017-02-07    30.996874
                ...
2017-04-24    33.997517
2017-04-25    34.208172
2017-04-26    34.006989
2017-04-27    34.033016
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [17]:
#NUEVO EJEMPLO
new_apple['2020-10':'2021-01']

Date
2021-01-04    6.12
2021-01-05    6.16
2021-01-06    6.10
2021-01-07    6.11
2021-01-08    6.36
2021-01-11    6.39
2021-01-12    6.07
2021-01-13    6.02
2021-01-14    6.00
2021-01-15    5.74
2021-01-19    5.97
2021-01-20    6.36
2021-01-21    6.54
2021-01-22    6.94
2021-01-25    6.69
2021-01-26    6.50
2021-01-27    6.65
2021-01-28    6.18
2021-01-29    6.33
Name: Close, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [18]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787128
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244396
2017-12-19    41.794228
2017-12-20    41.748730
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965729
2017-12-29    40.522736
Name: Close, dtype: float64

In [19]:
# NUEVO EJEMPLO
print(new_apple.head(5))
print(new_apple.tail(9))

Date
2021-01-04    6.12
2021-01-05    6.16
2021-01-06    6.10
2021-01-07    6.11
2021-01-08    6.36
Name: Close, dtype: float64
Date
2021-09-28    0.554
2021-09-29    0.532
2021-09-30    0.580
2021-10-01    0.540
2021-10-04    0.520
2021-10-05    0.510
2021-10-06    0.551
2021-10-07    0.563
2021-10-08    0.560
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [20]:

by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178331
2017-02-28    31.606277
2017-03-31    33.282220
2017-04-30    33.819262
2017-05-31    36.125683
2017-06-30    35.133983
2017-07-31    35.245244
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654551
2017-11-30    41.233916
2017-12-31    41.160037
Freq: M, Name: Close, dtype: float64

In [21]:
# NUEVO EJEMPLO
by_month = new_apple.resample('M').mean()
print(by_month)

Date
2021-01-31    6.275263
2021-02-28    7.546316
2021-03-31    5.577826
2021-04-30    3.806190
2021-05-31    2.609500
2021-06-30    1.883182
2021-07-31    1.194762
2021-08-31    0.625455
2021-09-30    0.569714
2021-10-31    0.540667
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [22]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451962
2017-03-31    34.111130
2017-04-30    34.264984
2017-05-31    37.099125
2017-06-30    36.944645
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141651
2017-10-31    40.332245
2017-11-30    42.050137
2017-12-31    42.244396
Freq: M, Name: Close, dtype: float64

In [23]:
# NUEVO EJEMPLO
new_apple.resample('M').max()

Date
2021-01-31    6.940
2021-02-28    8.810
2021-03-31    7.420
2021-04-30    4.350
2021-05-31    3.400
2021-06-30    2.200
2021-07-31    1.780
2021-08-31    0.716
2021-09-30    0.707
2021-10-31    0.563
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [24]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398285
2017-01-06    27.787128
2017-01-09    28.110773
2017-01-12    28.078175
2017-01-15    28.279667
                ...
2017-12-17    42.019312
2017-12-20    41.854089
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516818
2017-03-05    32.595558
2017-03-19    33.017883
2017-04-02    33.625218
2017-04-16    33.849728
2017-04-30    33.791842
2017-05-14    35.697631
2017-05-28    36.496178
2017-06-11    36.515007
2017-06-25    34.529045
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272777
2017-08-20    37.904120
2017-09-03    38.458791
2017-09-17    38.282708
2017-10-01    36.840874
2017-10-15    37.071597
2017-10-29    37.757320
2017-11-12    41.032238
2017-11-26    41.204376
2017-12-10    40.867068
2017-12-24    41.620863
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178331
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160037
Freq: 2M, Name: Close, dtype: float64

In [25]:
# NUEVO EJEMPLO
three_day = new_apple.resample('3D').mean()
two_week = new_apple.resample('2W').mean()
two_month = new_apple.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2021-01-04    6.126667
2021-01-07    6.235000
2021-01-10    6.230000
2021-01-13    5.920000
2021-01-16         NaN
                ...
2021-09-25    0.530000
2021-09-28    0.555333
2021-10-01    0.540000
2021-10-04    0.527000
2021-10-07    0.561500
Freq: 3D, Name: Close, Length: 93, dtype: float64
Date
2021-01-10    6.170000
2021-01-24    6.225556
2021-02-07    6.625000
2021-02-21    8.011111
2021-03-07    7.120000
2021-03-21    5.880000
2021-04-04    4.446667
2021-04-18    3.728000
2021-05-02    3.830000
2021-05-16    3.027000
2021-05-30    2.192000
2021-06-13    1.963333
2021-06-27    1.829000
2021-07-11    1.641111
2021-07-25    1.233000
2021-08-08    0.683200
2021-08-22    0.615800
2021-09-05    0.628800
2021-09-19    0.594556
2021-10-03    0.509500
2021-10-17    0.540800
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2021-01-31    6.275263
2021-03-31    6.468333
2021-05-31    3.222439
2021-07-31    1.546977
2021-09-30    0.598233
2021-11-30    0.540667
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [26]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203367
2017-01-15    0.072528
2017-01-22    0.025554
2017-01-29    0.245284
2017-02-05    0.943262
2017-02-12    0.252003
2017-02-19    0.231389
2017-02-26    0.059342
2017-03-05    0.340088
2017-03-12    0.076285
2017-03-19    0.177834
2017-03-26    0.157263
2017-04-02    0.319807
2017-04-09    0.128690
2017-04-16    0.212480
2017-04-23    0.174672
2017-04-30    0.090026
2017-05-07    0.235640
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060390
2017-06-04    0.281222
2017-06-11    0.620034
2017-06-18    0.382567
2017-06-25    0.128893
2017-07-02    0.264106
2017-07-09    0.158887
2017-07-16    0.404283
2017-07-23    0.124992
2017-07-30    0.384441
2017-08-06    0.924390
2017-08-13    0.467470
2017-08-20    0.435251
2017-08-27    0.275765
2017-09-03    0.251723
2017-09-10    0.381644
2017-09-17    0.294139
2017-09-24    0.735195
2017-10-01    0.354845
2017-10-08    0.204853
2017-10-15    0.118732
2017-10-22    0.517001
2017-10-29    0.680456
2017-11-05    0.560688
2017-11-12    0.190969
2017-11-19    0.436197
2017-11-26    0.563045
2017-12-03    0.427442
2017-12-10    0.073124
2017-12-17    0.205265
2017-12-24    0.194123
2017-12-31    0.190392
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787128
2017-01-15    28.220749
2017-01-22    28.279667
2017-01-29    28.739212
2017-02-05    30.419500
2017-02-12    31.341915
2017-02-19    32.122974
2017-02-26    32.451962
2017-03-05    33.086273
2017-03-12    33.022381
2017-03-19    33.299297
2017-03-26    33.481544
2017-04-02    34.111130
2017-04-09    34.264984
2017-04-16    33.886288
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256699
2017-05-14    37.099125
2017-05-21    37.004063
2017-05-28    36.597656
2017-06-04    36.944645
2017-06-11    36.925636
2017-06-18    34.838955
2017-06-25    34.779549
2017-07-02    34.658325
2017-07-09    34.266197
2017-07-16    35.421234
2017-07-23    35.891808
2017-07-30    36.471699
2017-08-06    37.346302
2017-08-13    38.277931
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141651
2017-09-10    38.671616
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798641
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903061
2017-11-05    41.157795
2017-11-12    42.050137
2017-11-19    41.657742
2017-11-26    41.897194
2017-12-03    41.686481
2017-12-10    40.659214
2017-12-17    41.657742
2017-12-24    42.244396
2017-12-31    40.965729
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041647
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597815
2017-02-12    30.704645
2017-02-19    31.547834
2017-02-26    32.314690
2017-03-05    32.409363
2017-03-12    32.823559
2017-03-19    32.896938
2017-03-26    33.098118
2017-04-02    33.344273
2017-04-09    33.926521
2017-04-16    33.384506
2017-04-23    33.296932
2017-04-30    33.997517
2017-05-07    34.681549
2017-05-14    36.215260
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305336
2017-06-11    35.406975
2017-06-18    33.812248
2017-06-25    34.463451
2017-07-02    34.147354
2017-07-09    33.921589
2017-07-16    34.475330
2017-07-23    35.544811
2017-07-30    35.530556
2017-08-06    35.347565
2017-08-13    37.058708
2017-08-20    37.578854
2017-08-27    37.509659
2017-09-03    38.526077
2017-09-10    37.848454
2017-09-17    37.764957
2017-09-24    36.240322
2017-10-01    35.920609
2017-10-08    36.619701
2017-10-15    37.182785
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778706
2017-11-12    41.575336
2017-11-19    40.486816
2017-11-26    40.702320
2017-12-03    40.582603
2017-12-10    40.470058
2017-12-17    41.114182
2017-12-24    41.748730
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [27]:
# NUEVO EJEMPLO
std = new_apple.resample('W').std()
max = new_apple.resample('W').max()
min = new_apple.resample('W').min()


print(std)
print(max)
print(min)

Date
2021-01-10    0.108628
2021-01-17    0.232013
2021-01-24    0.402772
2021-01-31    0.215291
2021-02-07    0.198872
2021-02-14    0.413944
2021-02-21    0.179072
2021-02-28    0.394183
2021-03-07    0.488600
2021-03-14    0.218929
2021-03-21    0.267451
2021-03-28    0.531347
2021-04-04    0.297881
2021-04-11    0.118448
2021-04-18    0.048166
2021-04-25    0.093167
2021-05-02    0.239541
2021-05-09    0.146799
2021-05-16    0.200075
2021-05-23    0.107378
2021-05-30    0.140428
2021-06-06    0.100457
2021-06-13    0.189921
2021-06-20    0.132966
2021-06-27    0.074632
2021-07-04    0.065422
2021-07-11    0.106771
2021-07-18    0.076289
2021-07-25    0.174442
2021-08-01    0.032280
2021-08-08    0.003912
2021-08-15    0.044289
2021-08-22    0.017869
2021-08-29    0.026725
2021-09-05    0.037925
2021-09-12    0.027622
2021-09-19    0.047431
2021-09-26    0.016498
2021-10-03    0.020620
2021-10-10    0.024222
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    6.360
2021-01-17    6.390
2021-01-24    6.940
2021-01-31    6.690
2021-02-07    7.040
2021-02-14    8.030
2021-02-21    8.810
2021-02-28    8.020
2021-03-07    7.420
2021-03-14    6.210
2021-03-21    6.210
2021-03-28    5.570
2021-04-04    4.350
2021-04-11    4.090
2021-04-18    3.620
2021-04-25    3.830
2021-05-02    4.130
2021-05-09    3.400
2021-05-16    3.100
2021-05-23    2.540
2021-05-30    2.160
2021-06-06    2.020
2021-06-13    2.200
2021-06-20    2.030
2021-06-27    1.870
2021-07-04    1.840
2021-07-11    1.610
2021-07-18    1.420
2021-07-25    1.260
2021-08-01    0.728
2021-08-08    0.679
2021-08-15    0.716
2021-08-22    0.583
2021-08-29    0.634
2021-09-05    0.707
2021-09-12    0.680
2021-09-19    0.630
2021-09-26    0.490
2021-10-03    0.580
2021-10-10    0.563
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    6.100
2021-01-17    5.740
2021-01-24    5.970
2021-01-31    6.180
2021-02-07    6.560
2021-02-14    6.920
2021-02-21    8.400
2021-02-28    7.090
2021-03-07    6.260
2021-03-14    5.670
2021-03-21    5.520
2021-03-28    4.200
2021-04-04    3.690
2021-04-11    3.760
2021-04-18    3.490
2021-04-25    3.610
2021-05-02    3.590
2021-05-09    2.990
2021-05-16    2.590
2021-05-23    2.300
2021-05-30    1.770
2021-06-06    1.800
2021-06-13    1.760
2021-06-20    1.710
2021-06-27    1.690
2021-07-04    1.680
2021-07-11    1.360
2021-07-18    1.240
2021-07-25    0.840
2021-08-01    0.652
2021-08-08    0.670
2021-08-15    0.604
2021-08-22    0.536
2021-08-29    0.562
2021-09-05    0.609
2021-09-12    0.620
2021-09-19    0.507
2021-09-26    0.451
2021-10-03    0.530
2021-10-10    0.510
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [28]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597815
2017-02-28    32.423576
2017-03-31    34.002258
2017-04-30    33.999889
2017-05-31    36.305336
2017-06-30    34.228168
2017-07-31    35.347565
2017-08-31    39.129719
2017-09-30    36.772396
2017-10-31    40.332245
2017-11-30    41.150108
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [29]:
# NUEVO EJEMPLO
alast_day = new_apple.resample('M').agg(lambda x: x[-3])
print(alast_day)

Date
2021-01-31    6.650
2021-02-28    7.710
2021-03-31    3.690
2021-04-30    4.050
2021-05-31    1.770
2021-06-30    1.840
2021-07-31    0.728
2021-08-31    0.595
2021-09-30    0.554
2021-10-31    0.551
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [30]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [31]:
# NUEVO EJEMPLO
amonthly_return = new_apple.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(amonthly_return)

Date
2021-01-31    0.034314
2021-02-28    0.074242
2021-03-31   -0.460916
2021-04-30   -0.174713
2021-05-31   -0.432353
2021-06-30   -0.113861
2021-07-31   -0.612360
2021-08-31   -0.029851
2021-09-30   -0.179632
2021-10-31    0.037037
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [32]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863447001085543
0.05225846608953644
0.09901817765273635

In [33]:
# NUEVO EJEMPLO
print(amonthly_return.mean())
print(amonthly_return.std())
print(amonthly_return.max())

-0.18580929107497307
0.23893635212397032
0.07424246288418712

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [34]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825762
2017-03-31    1.578682
2017-04-30   -0.002369
2017-05-31    2.305447
2017-06-30   -2.077168
2017-07-31    1.119396
2017-08-31    3.782154
2017-09-30   -2.357323
2017-10-31    3.559849
2017-11-30    0.817863
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [35]:
# NUEVO EJEMPLO
print(alast_day.diff())
print(alast_day.pct_change())

Date
2021-01-31      NaN
2021-02-28    1.060
2021-03-31   -4.020
2021-04-30    0.360
2021-05-31   -2.280
2021-06-30    0.070
2021-07-31   -1.112
2021-08-31   -0.133
2021-09-30   -0.041
2021-10-31   -0.003
Freq: M, Name: Close, dtype: float64
Date
2021-01-31         NaN
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [36]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [37]:
# NUEVO EJEMPLO
adaily_return = alast_day.pct_change()
print(adaily_return.fillna(0))

Date
2021-01-31    0.000000
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [38]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [39]:
# NUEVO EJEMPLO
adaily_return = alast_day.pct_change()
print(adaily_return.fillna(method = 'bfill'))

Date
2021-01-31    0.159398
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [40]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [41]:
# NUEVO EJEMPLO
adaily_return = alast_day.pct_change()
adaily_return.dropna()

Date
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [42]:
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [43]:
# NUEVO EJEMPLO
dict = {'PERA': [233.5, 444.09, 344.35, 294.80, 333.66],'FRESA':[458.55, 877.76, 767.69,431.49, 545.77],
        'UVA':[299.88, 344.44, 333.33, 287.88, 277.77]}
data_index = pd.date_range('2020-05-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              PERA   FRESA     UVA
2020-05-03  233.50  458.55  299.88
2020-05-04  444.09  877.76  344.44
2020-05-05  344.35  767.69  333.33
2020-05-06  294.80  431.49  287.88
2020-05-07  333.66  545.77  277.77

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [64]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965729
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [65]:
# NUEVO EJEMPLO
new_df = new_data
print(new_df.Close.tail(3))
print(new_df['Volume'].tail(5))

Date
2021-10-06    0.551
2021-10-07    0.563
2021-10-08    0.560
Name: Close, dtype: float64
Date
2021-10-04    976700
2021-10-05    734400
2021-10-06    781000
2021-10-07    665100
2021-10-08    680000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [66]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852386  22.440248  21.750950  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226405  23.412963  23.044512  ...  169228800        0.0             0
2016-06-30  22.023115  22.333266  21.990468  ...  143345600        0.0             0
2016-07-31  24.296778  24.380729  24.177847  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367384  26.580743  26.212641  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [67]:
# NUEVO EJEMPLO
apple_2021 = new_df['2021']
apple_month = apple_2021.resample('M').agg(lambda x: x[-1])
print(apple_month)

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2021-01-31  6.600  6.740  6.280   6.33   337400          0             0
2021-02-28  7.180  7.410  6.660   7.09  1088400          0             0
2021-03-31  3.890  4.200  3.885   4.00   896800          0             0
2021-04-30  3.600  3.644  3.540   3.59   241600          0             0
2021-05-31  2.120  2.250  1.890   1.93  1627100          0             0
2021-06-30  1.850  1.850  1.770   1.79   369400          0             0
2021-07-31  0.730  0.730  0.664   0.69  1249400          0             0
2021-08-31  0.635  0.685  0.621   0.65  1541200          0             0
2021-09-30  0.540  0.629  0.524   0.58  3107500          0             0
2021-10-31  0.570  0.591  0.533   0.56   680000          0             0

We may select certain columns of a DataFrame using their names:

In [69]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023115  22.333266  21.990468  22.293623
2016-07-31  24.296778  24.380729  24.177847  24.301441
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [72]:
# NUEVO EJEMPLO
apple_bar = apple_month[['Open', 'High', 'Low', 'Close']]
print(apple_bar)

             Open   High    Low  Close
Date
2021-01-31  6.600  6.740  6.280   6.33
2021-02-28  7.180  7.410  6.660   7.09
2021-03-31  3.890  4.200  3.885   4.00
2021-04-30  3.600  3.644  3.540   3.59
2021-05-31  2.120  2.250  1.890   1.93
2021-06-30  1.850  1.850  1.770   1.79
2021-07-31  0.730  0.730  0.664   0.69
2021-08-31  0.635  0.685  0.621   0.65
2021-09-30  0.540  0.629  0.524   0.58
2021-10-31  0.570  0.591  0.533   0.56

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [71]:
print(aapl_month.loc['2016-03':'2016-06', ['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023115  22.333266  21.990468  22.293623

In [73]:
# NUEVO EJEMPLO
print(apple_month.loc['2021-03':'2021-06', ['Open', 'High', 'Low', 'Close']])

            Open   High    Low  Close
Date
2021-03-31  3.89  4.200  3.885   4.00
2021-04-30  3.60  3.644  3.540   3.59
2021-05-31  2.12  2.250  1.890   1.93
2021-06-30  1.85  1.850  1.770   1.79

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [75]:

import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [76]:
# NUEVO EJEMPLO
import numpy as np

new_above = apple_bar[apple_bar.Close > np.mean(apple_bar.Close)]
print(new_above)

            Open   High    Low  Close
Date
2021-01-31  6.60  6.740  6.280   6.33
2021-02-28  7.18  7.410  6.660   7.09
2021-03-31  3.89  4.200  3.885   4.00
2021-04-30  3.60  3.644  3.540   3.59

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [78]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090062
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
# NUEVO EJEMPLO
apple_bar['rate_return'] = apple_bar.Close.pct_change()
print(apple_bar)

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. isnull() provides a convenient way to check abnormal values.

In [80]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [81]:
#NUEVO EJEMPLO
new_missing = apple_bar.isnull()
print(new_missing)
print('---------------------------------------------')
print(new_missing.describe())

             Open   High    Low  Close  rate_return
Date
2021-01-31  False  False  False  False         True
2021-02-28  False  False  False  False        False
2021-03-31  False  False  False  False        False
2021-04-30  False  False  False  False        False
2021-05-31  False  False  False  False        False
2021-06-30  False  False  False  False        False
2021-07-31  False  False  False  False        False
2021-08-31  False  False  False  False        False
2021-09-30  False  False  False  False        False
2021-10-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      10     10     10     10          10
unique      1      1      1      1           2
top     False  False  False  False       False
freq       10     10     10     10           9

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [82]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [83]:
# NUEVO EJEMPLO
print(new_missing[new_missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2021-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method dropna() and fillna() can be applied to a DataFrame.

In [84]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090062
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090062
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [88]:
# NUEVO EJEMPLO
new_drop = apple_bar.dropna()
print(new_drop)
print('\n--------------------------------------------------\n')
new_fill = apple_bar.fillna(0)
print(new_fill)

             Open   High    Low  Close  rate_return
Date
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483

--------------------------------------------------

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33     0.000000
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [86]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [89]:
# NUEVO EJEMPLO
new_s1 = pd.Series([233.5, 444.09, 344.35, 294.80, 333.66], name = 'PERA')
new_s2 = pd.Series([458.55, 877.76, 767.69,431.49, 545.77], name = 'UVA')
new_data_frame = pd.concat([new_s1,new_s2], axis = 1)
print(new_data_frame)

     PERA     UVA
0  233.50  458.55
1  444.09  877.76
2  344.35  767.69
3  294.80  431.49
4  333.66  545.77

The "axis = 1" parameter will join two DataFrames by columns:

In [90]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773   3.147897
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660   3.104301
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090062   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504   3.277360
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004335   3.281686
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [92]:
# NUEVO EJEMPLO
new_log_price = np.log(apple_bar.Close)
new_log_price.name = 'log_price'
print(new_log_price)
print('\n---------------------- separate line--------------------\n')
new_concat = pd.concat([apple_bar, log_price], axis = 1)
print(new_concat)

Date
2021-01-31    1.845300
2021-02-28    1.958685
2021-03-31    1.386294
2021-04-30    1.278152
2021-05-31    0.657520
2021-06-30    0.582216
2021-07-31   -0.371064
2021-08-31   -0.430783
2021-09-30   -0.544727
2021-10-31   -0.579818
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

             Open   High    Low  Close  rate_return  log_price
Date
2016-01-31    NaN    NaN    NaN    NaN          NaN   3.110856
2016-02-29    NaN    NaN    NaN    NaN          NaN   3.109568
2016-03-31    NaN    NaN    NaN    NaN          NaN   3.229314
2016-04-30    NaN    NaN    NaN    NaN          NaN   3.078583
2016-05-31    NaN    NaN    NaN    NaN          NaN   3.147897
2016-06-30    NaN    NaN    NaN    NaN          NaN   3.104301
2016-07-31    NaN    NaN    NaN    NaN          NaN   3.190536
2016-08-31    NaN    NaN    NaN    NaN          NaN   3.213912
2016-09-30    NaN    NaN    NaN    NaN          NaN   3.277360
2016-10-31    NaN    NaN    NaN    NaN          NaN   3.281686
2016-11-30    NaN    NaN    NaN    NaN          NaN   3.259848
2016-12-31    NaN    NaN    NaN    NaN          NaN   3.306689
2021-01-31  6.600  6.740  6.280   6.33          NaN        NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063        NaN
2021-03-31  3.890  4.200  3.885   4.00    -0.435825        NaN
2021-04-30  3.600  3.644  3.540   3.59    -0.102500        NaN
2021-05-31  2.120  2.250  1.890   1.93    -0.462396        NaN
2021-06-30  1.850  1.850  1.770   1.79    -0.072539        NaN
2021-07-31  0.730  0.730  0.664   0.69    -0.614525        NaN
2021-08-31  0.635  0.685  0.621   0.65    -0.057971        NaN
2021-09-30  0.540  0.629  0.524   0.58    -0.107692        NaN
2021-10-31  0.570  0.591  0.533   0.56    -0.034483        NaN

We can also join two DataFrames by rows. Consider these two DataFrames:

In [94]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550682  28.607241  28.425781  28.597815
2017-02-28  32.444877  32.530084  32.354935  32.423576
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [97]:
# NUEVO EJEMPLO
new_df_volume = new_data.loc['2020-10':'2021-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(new_df_volume)
print('\n---------------------- separate line--------------------\n')
new_df_2021 = new_data.loc['2020-10':'2021-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(new_df_2021)

             Volume  Stock Splits
Date
2020-12-31   661500             0
2021-01-31   337400             0
2021-02-28  1088400             0
2021-03-31   896800             0
2021-04-30   241600             0

---------------------- separate line--------------------

            Open   High    Low  Close
Date
2020-12-31  6.80  6.950  5.720   5.82
2021-01-31  6.60  6.740  6.280   6.33
2021-02-28  7.18  7.410  6.660   7.09
2021-03-31  3.89  4.200  3.885   4.00
2021-04-30  3.60  3.644  3.540   3.59

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [98]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852386  22.440248  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226405  23.412963  ...          NaN           NaN
2016-06-30  22.023115  22.333266  ...          NaN           NaN
2016-07-31  24.296778  24.380729  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367384  26.580743  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [100]:
# NUEVO EJEMPLO
new_concat = pd.concat([apple_bar, new_df_volume], axis = 1)
print(new_concat)

             Open   High    Low  Close  rate_return     Volume  Stock Splits
Date
2020-12-31    NaN    NaN    NaN    NaN          NaN   661500.0           0.0
2021-01-31  6.600  6.740  6.280   6.33          NaN   337400.0           0.0
2021-02-28  7.180  7.410  6.660   7.09     0.120063  1088400.0           0.0
2021-03-31  3.890  4.200  3.885   4.00    -0.435825   896800.0           0.0
2021-04-30  3.600  3.644  3.540   3.59    -0.102500   241600.0           0.0
2021-05-31  2.120  2.250  1.890   1.93    -0.462396        NaN           NaN
2021-06-30  1.850  1.850  1.770   1.79    -0.072539        NaN           NaN
2021-07-31  0.730  0.730  0.664   0.69    -0.614525        NaN           NaN
2021-08-31  0.635  0.685  0.621   0.65    -0.057971        NaN           NaN
2021-09-30  0.540  0.629  0.524   0.58    -0.107692        NaN           NaN
2021-10-31  0.570  0.591  0.533   0.56    -0.034483        NaN           NaN

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [101]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [102]:
# NUEVO EJEMPLO
new_concat = pd.concat([apple_bar,new_df_volume],axis = 1, join = 'inner')
print(new_concat)

            Open   High    Low  Close  rate_return   Volume  Stock Splits
Date
2021-01-31  6.60  6.740  6.280   6.33          NaN   337400             0
2021-02-28  7.18  7.410  6.660   7.09     0.120063  1088400             0
2021-03-31  3.89  4.200  3.885   4.00    -0.435825   896800             0
2021-04-30  3.60  3.644  3.540   3.59    -0.102500   241600             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [103]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090062
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444877  32.530084  32.354935  32.423576          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [110]:
# NUEVO EJEMPLO
new_append = apple_bar.append(new_df_2021)
print(new_append)

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483
2020-12-31  6.800  6.950  5.720   5.82          NaN
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09          NaN
2021-03-31  3.890  4.200  3.885   4.00          NaN
2021-04-30  3.600  3.644  3.540   3.59          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [106]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090062
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444877  32.530084  32.354935  32.423576          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [111]:
# NUEVO EJEMPLO
new_concat = pd.concat([apple_bar, new_df_2021], axis = 0)
print(new_concat)

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483
2020-12-31  6.800  6.950  5.720   5.82          NaN
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09          NaN
2021-03-31  3.890  4.200  3.885   4.00          NaN
2021-04-30  3.600  3.644  3.540   3.59          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [109]:
df_2017.columns = ['Change', 'High', 'Low', 'Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=True)
print(concat)

               Change      Close       High        Low       Open  rate_return
Date
2016-01-31        NaN  22.440248  22.440248  21.750950  21.852386          NaN
2016-02-29        NaN  22.411352  22.768302  22.402081  22.450755    -0.001288
2016-03-31        NaN  25.262316  25.473242  25.236819  25.431520     0.127211
2016-04-30        NaN  21.727583  21.954734  21.442488  21.785529    -0.139921
2016-05-31        NaN  23.287037  23.412963  23.044512  23.226405     0.071773
2016-06-30        NaN  22.293623  22.333266  21.990468  22.023115    -0.042660
2016-07-31        NaN  24.301441  24.380729  24.177847  24.296778     0.090062
2016-08-31        NaN  24.876219  24.986415  24.768367  24.773058     0.023652
2016-09-30        NaN  26.505716  26.580743  26.212641  26.367384     0.065504
2016-10-31        NaN  26.620605  26.782384  26.540888  26.646396     0.004335
2016-11-30        NaN  26.045572  26.441488  25.986656  26.300090    -0.021601
2016-12-31        NaN  27.294592  27.619807  27.202683  27.490193     0.047955
2016-10-31  26.646396  26.620605  26.782384  26.540888        NaN          NaN
2016-11-30  26.300090  26.045572  26.441488  25.986656        NaN          NaN
2016-12-31  27.490193  27.294592  27.619807  27.202683        NaN          NaN
2017-01-31  28.550682  28.597815  28.607241  28.425781        NaN          NaN
2017-02-28  32.444877  32.423576  32.530084  32.354935        NaN          NaN
2017-03-31  34.016459  34.002258  34.146637  33.848410        NaN          NaN
2017-04-30  34.104032  33.999889  34.153737  33.909951        NaN          NaN

In [112]:
# NUEVO EJEMPLO
new_df_2021.columns = ['Change', 'High', 'Low', 'Close']
new_concat = pd.concat([apple_bar, new_df_2021], axis = 0,sort=True)
print(new_concat)

            Change  Close   High    Low   Open  rate_return
Date
2021-01-31     NaN   6.33  6.740  6.280  6.600          NaN
2021-02-28     NaN   7.09  7.410  6.660  7.180     0.120063
2021-03-31     NaN   4.00  4.200  3.885  3.890    -0.435825
2021-04-30     NaN   3.59  3.644  3.540  3.600    -0.102500
2021-05-31     NaN   1.93  2.250  1.890  2.120    -0.462396
2021-06-30     NaN   1.79  1.850  1.770  1.850    -0.072539
2021-07-31     NaN   0.69  0.730  0.664  0.730    -0.614525
2021-08-31     NaN   0.65  0.685  0.621  0.635    -0.057971
2021-09-30     NaN   0.58  0.629  0.524  0.540    -0.107692
2021-10-31     NaN   0.56  0.591  0.533  0.570    -0.034483
2020-12-31    6.80   5.82  6.950  5.720    NaN          NaN
2021-01-31    6.60   6.33  6.740  6.280    NaN          NaN
2021-02-28    7.18   7.09  7.410  6.660    NaN          NaN
2021-03-31    3.89   4.00  4.200  3.885    NaN          NaN
2021-04-30    3.60   3.59  3.644  3.540    NaN          NaN

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.